{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

<!-- The big featured header --}}

                    {{!--<div class="avatar">
                        <img alt="{{name}}" src="{{image}}">
                    </div>
                    <div class="info">
                        <div class="title">
                            <a target="_blank" href="{{website}}">{{name}}</a>
                        </div>
                        {{#if bio}}
                            <div class="desc">{{bio}}</div>   
                        {{/if}}
                        {{#if location}}
                            <div class="desc">{{location}}</div>   
                        {{/if}}
                        {{#if website}}
                            <div class="desc">{{website}}</div>   
                        {{/if}}
                        {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}
                        {{!--<div class="desc">Curious</div>
                        <div class="desc"></div>--}}
                    </div>
                    <div class="bottom">
                        {{#if twitter}}
                        <a class="btn btn-primary btn-twitter btn-sm" 
                            href="{{twitter_url}}">{{twitter}}">
                            <i class="fa fa-twitter"></i>
                        </a>
                        {{/if}}
                        {{#if facebook}}
                            <a class="btn btn-primary btn-sm" rel="publisher"
                            href="{{facebook_url author.facebook}}">
                                <i class="fa fa-facebook"></i>
                            </a>
                        {{/if}}
                    </div>
                </div>-->


{{!-- Everything inside the #author tags pulls data from the author --}}
{{#author}}
<h3 class="ms-font-xl">Posts by {{name}} ::></h3>   
{{/author}}

{{!-- The main content area on the homepage --}}
<main class="content" role="main">

    {{!-- The tag below includes the post loop - partials/loop.hbs --}}
    {{> "loop"}}

</main>
