{{!< default}}

{{!-- This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. --}}

{{!-- Everything inside the #post tags pulls data from the page --}}
{{#post}}

<div class="ms-Grid staic-page" role="main">
    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg4">
            <div class="about-img-container" style="background-image: 
                url('{{image}}')">
            </div>
        </div>
        <div class="{{post_class}} ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg8 staic-about-page">
            <div class="ms-Grid-Row">
                <h1 class="ms-font-su ms-fontWeight-semilight" itemprop="headline">
                    <a class="" 
                        href="{{{url}}}" rel="bookmark">
                        {{title}}
                    </a>
                </h1>    
            </div>

            <div class="ms-Grid-Row ms-font-l">
                <p>{{content}}</p>
            </div>
        </div>
    </div>
</div>
{{/post}}
